@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    background: linear-gradient(135deg, rgba(35, 35, 35, 0.8), rgba(55, 55, 55, 1));
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 80px 80px;
    overflow-y: scroll;
}

.app {
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    max-width: 900px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    animation: fadeInOnLoad ease 2s;
}

.app h1 {
    font-size: 3.4rem;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 20px;
}

@keyframes fadeInOnLoad {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-container {
    padding: 5px;
    background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.03));
    width: 80%;
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
}

.fa-square-check {
    margin-left: 12px;
    font-size: 3rem;
    color: rgba(255,107,107,0.5);
}

.input-container input {
    flex: 1;
    padding: 16px 30px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #000;
}

.input-container button {
    padding: 15px 29px;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    background: #fff;;
    border: 1px solid #fff;
    transition: all 0.2s;
}

.input-container button:hover {
    background: transparent;
    border-color: rgba(255,255,255, 0.2);
    color: #fff;
}

.output-container {
    width: 80%;
    min-width: 300px;
    height: fit-content;
    margin: 0 auto;
}

.output-container ul {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
}

.output-container li {
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: 1px solid rgba(255,107,107,0.2);
    margin-bottom: 4px;
    cursor: default;
}

.output-container li button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#delete-btn {
    width: 100px;
    padding: 10px 10px;
    margin: 0 auto;
    background: linear-gradient(135deg, rgba(255, 107, 107, 0.7), rgba(255, 77, 77, 0.5));
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-top: -4px;
}

#delete-btn:hover {
    background: linear-gradient(135deg, rgba(255, 107, 107, 0.6), rgba(255, 77, 77, 0.4));
    transform: scale(0.98);
}
